header {
  background-color: #605443;
  width: 540px;
  height: 100px;
  text-align: center;
}
h1 {
  padding-top: 25px;
}
#lista-tarefas {
  background-color: bisque;
  width: 500px;
}
#criar-tarefa {
  margin-right: 10px;
  background-color: burlywood;
  border: 4px solid burlywood;
  border-radius: 5px;
}

#salvar-tarefas{
  background-color: burlywood;
  border: 4px solid burlywood;
  border-radius: 5px;
  
}

#apaga-tudo {
  background-color: burlywood;
  border-radius: 10px;
  border: 4px solid burlywood;
  margin-right: 40px;
}
#remover-finalizados {
  background-color: burlywood;
  border-radius: 10px;
  border: 4px solid burlywood;
  margin-right: 40px;
}

body {
  background-color: #e2dbc8;
  font-family: 'Montserrat', sans-serif;
}

.selected {
  background-color: gray;
}

.completed {
  text-decoration: line-through;
}

li {
  border-radius: 15px;
  width: 500px;
}
