header {
  background-color: #605443;
  width: 540px;
  height: 100px;
  text-align: center;
}
h1 {
  padding-top: 25px;
}

body {
  background-color: #e2dbc8;
  font-family: 'Montserrat', sans-serif;
}

.selected {
  background-color: gray;
}

.completed {
  text-decoration: line-through;
}

li {
  border-radius: 15px;
  width: 500px;
}
